@import "tachyons";

#root {
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quiz-app {
  height: calc(100vh - 5rem)
}


@media (min-width: 612px){
  #root{
    max-width: 612px;
  }
}